<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LavaMovil</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="/" class="logo">FLASHFOTOGRAFI</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/login">Administrar</a></li>
            <li><a href="/informacion">informacion</a></li>
            <li><a href="/destacados">Destacados</a></li>
            <li>captura los mejores momentos</li>
          </ul>
        </nav>
      </div>
    </header>

<div class="slider">
  <ul>
    <li><img src="https://assets.mmsrg.com/isr/166325/c1/-/ASSET_MMS_98785635/fee_786_587_png" alt="2" width="300" height="300"></li>
    <li><img src="https://storage.googleapis.com/catalog-pictures-carrefour-es/catalog/pictures/hd_510x_/4549292111842_1.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh-bdPov0dPU4JOYoSJtt2aLGTGtQd6B5C1Vf7-AnatnjEoEDrFDKA1nKv_qXb02MbbcalNM6VsIyrs1tj0uuH6F8Lb-kvuGroLhM98vpLWf20Dr8lsyWEeu0r8hDVIus5whpLjpDbztZ_2D_hMrK2JFYgKmbWxH1-oXcvKfUAonvJB4UXclRFc6vLw/s422/canon-eos.jpg" alt="2" width="300" height="300"></li>
  </ul>
</div>


  <div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="https://http2.mlstatic.com/D_NQ_NP_979979-MLV51168938224_082022-O.webp" class="circulo">
        <h2>Camara canon</h2>
      </div>
      <div class="container-imagen">
        <img src="https://http2.mlstatic.com/D_NQ_NP_764217-MLV44174852463_112020-O.webp" class="circulo">
        <h2>Camara semi profesional</h2>
      </div>
      <div class="container-imagen">
        <img src="https://http2.mlstatic.com/D_NQ_NP_957562-MLV54629516450_032023-O.webp" class="circulo">
        <h2>Camara profesional</h2>
      </div>
    </div>

    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE FLASHFOTOGRAFI </h2>
        <p>Es una pagina diseñada con la finalidad de que encuentres tu camara ideal, captura momentos, congela recuerdos.</p>
      </div>
      <div class="columna2">
        <img src="https://w7.pngwing.com/pngs/770/746/png-transparent-instant-camera-fujifilm-instax-mini-9-graphy-camera-instax-camera-mirrorless-interchangeablelens-camera.png" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, todos los derechos reservados <a href="/view">FLASHFOTOGRAFI</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/login">Administrar</a></li>
                            <li><a href="/informacion">informacion</a></li>
                            <li><a href="/destacados">Destacados</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
</body>
</html>